# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs text diff=csharp
*.csproj text merge=union
*.sln text eol=crlf merge=union

# Web files
*.html text
*.css text
*.js text

# XAML and App files
*.xaml text
*.axaml text
*.config text
*.xml text
*.json text

# Text files
*.txt text
*.md text

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
